AI Assignment 1 

Name : Madhu Vanthi Sankar Ganesh

Reg No : 20BRS1113

Campus : VIT CHENNAI

Q1)Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randn(4, 4)  # Generate random values

df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

print(df)

          A         B         C         D
0 -2.665550 -0.190775  1.006215  1.407493
1 -0.514450  0.768845  1.850675  0.030153
2  0.231715 -0.166186  0.512425  0.833786
3  0.301349 -0.524025 -1.458711  1.405745

Q2)Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
# Renaming columns
df = df.rename(columns={'A': 'Random Value 1',
                        'B': 'Random Value 2',
                        'C': 'Random Value 3',
                        'D': 'Random Value 4'})

print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0       -2.665550       -0.190775        1.006215        1.407493
1       -0.514450        0.768845        1.850675        0.030153
2        0.231715       -0.166186        0.512425        0.833786
3        0.301349       -0.524025       -1.458711        1.405745

Q3)Find the descriptive statistics of the 'df' dataframe

In [ ]:
df_stats = df.describe()

print(df_stats)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.661734       -0.028035        0.477651        0.919294
std          1.385972        0.555756        1.404194        0.651372
min         -2.665550       -0.524025       -1.458711        0.030153
25%         -1.052225       -0.274088        0.019641        0.632878
50%         -0.141367       -0.178480        0.759320        1.119766
75%          0.249124        0.067572        1.217330        1.406182
max          0.301349        0.768845        1.850675        1.407493

Q4)Check for the null values in 'df' and find the data type of the columns

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Q5)Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
columns_loc = df.loc[:, ['Random Value 2', 'Random Value 3']]
print("Columns using the location method:")
print(columns_loc)

# Displaying columns using the index location method
columns_iloc = df.iloc[:, [1, 2]]
print("\nColumns using the index location method:")
print(columns_iloc)

Columns using the location method:
   Random Value 2  Random Value 3
0       -0.190775        1.006215
1        0.768845        1.850675
2       -0.166186        0.512425
3       -0.524025       -1.458711

Columns using the index location method:
   Random Value 2  Random Value 3
0       -0.190775        1.006215
1        0.768845        1.850675
2       -0.166186        0.512425
3       -0.524025       -1.458711