AI Assignment 1
20BAI1304
TS HARSHINI
harshini.ts2020@vitstudent.ac.in
Vellore Institute of Technology, Chennai
9003064097

In [1]:
#Task 1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))

print(s1)
print(s2)
print(s3)
print(s4)

df = pd.DataFrame([s1,s2,s3,s4])
print(df)

0    0.779404
1    0.060727
2    0.702140
3    0.867448
dtype: float64
0    0.948070
1    0.306998
2    0.857225
3    0.453163
dtype: float64
0    0.681351
1    0.095557
2    0.916809
3    0.423279
dtype: float64
0    0.415165
1    0.184403
2    0.488092
3    0.266640
dtype: float64
          0         1         2         3
0  0.779404  0.060727  0.702140  0.867448
1  0.948070  0.306998  0.857225  0.453163
2  0.681351  0.095557  0.916809  0.423279
3  0.415165  0.184403  0.488092  0.266640

In [2]:
'''Task 2 - Rename the task - 1 'df' dataframe column names to 'Random value 1', 
'Random value 2', 'Random value 3' & 'Random value 4' '''

df.columns = ['Random value 1','Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.779404        0.060727        0.702140        0.867448
1        0.948070        0.306998        0.857225        0.453163
2        0.681351        0.095557        0.916809        0.423279
3        0.415165        0.184403        0.488092        0.266640

In [ ]:
#Task 3 - Find the descriptive statistics of the 'df' dataframe. - Method 1
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.252846        0.504106        0.495427        0.648556
std          0.172900        0.452361        0.251195        0.356760
min          0.049572        0.058719        0.187424        0.159269
25%          0.139053        0.144358        0.348678        0.515498
50%          0.279947        0.509513        0.523244        0.723396
75%          0.393740        0.869261        0.669993        0.856453
max          0.401918        0.938678        0.747797        0.988163

In [ ]:
#Task 3 - Find the descriptive statistics of the 'df' dataframe.
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.252846        0.504106        0.495427        0.648556
std          0.172900        0.452361        0.251195        0.356760
min          0.049572        0.058719        0.187424        0.159269
25%          0.139053        0.144358        0.348678        0.515498
50%          0.279947        0.509513        0.523244        0.723396
75%          0.393740        0.869261        0.669993        0.856453
max          0.401918        0.938678        0.747797        0.988163

In [ ]:
#Task 4 - Check for the null values in 'df' and find the data type of the columns.
#1. Shows Boolean Function
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
#Task 4 - Check for the null values in 'df' and find the data type of the columns.
#2. Shows the count
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#Task 4 - Check for the null values in 'df' and find the data type of the columns.
#3. Check the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
#Task 4 cont Checking Data types - Method 2 
print(df['Random value 1'].dtype)
print(df['Random value 2'].dtype)
print(df['Random value 3'].dtype)
print(df['Random value 4'].dtype)

float64
float64
float64
float64

In [ ]:
#Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method
#1. Using Location method

df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.938678        0.644059
1        0.058719        0.187424
2        0.172904        0.402430
3        0.846123        0.747797

In [ ]:
#Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method
#2. Using Index Location method

df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.938678        0.644059
1        0.058719        0.187424
2        0.172904        0.402430
3        0.846123        0.747797