T.S.Varshini : VIT Chennai (20BRS1125) : varshini.ts2020@vitstudent.ac.in : 9003064047

In [4]:
import numpy as np
import pandas as pd

Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [5]:
feature1 = pd.Series(np.random.rand(4))
feature2 = pd.Series(np.random.rand(4))
feature3 = pd.Series(np.random.rand(4))
feature4 = pd.Series(np.random.rand(4))

In [6]:
df = pd.DataFrame([feature1,feature2,feature3,feature4])
df = df.T
df

          0         1         2         3
0  0.588974  0.360100  0.944188  0.535539
1  0.683875  0.008692  0.026637  0.047803
2  0.499866  0.653369  0.183604  0.535532
3  0.380419  0.723958  0.686747  0.987455

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [7]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']

In [8]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.588974        0.360100        0.944188        0.535539
1        0.683875        0.008692        0.026637        0.047803
2        0.499866        0.653369        0.183604        0.535532
3        0.380419        0.723958        0.686747        0.987455

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [9]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.538284        0.436530        0.460294        0.526582
std          0.129310        0.325843        0.428194        0.383751
min          0.380419        0.008692        0.026637        0.047803
25%          0.470004        0.272248        0.144362        0.413600
50%          0.544420        0.506735        0.435176        0.535536
75%          0.612699        0.671016        0.751108        0.648518
max          0.683875        0.723958        0.944188        0.987455

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [10]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [12]:
#Using Location method
df.loc[0:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.360100        0.944188
1        0.008692        0.026637
2        0.653369        0.183604
3        0.723958        0.686747

In [13]:
#Using Index Location method
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.360100        0.944188
1        0.008692        0.026637
2        0.653369        0.183604
3        0.723958        0.686747